<button routerLinkActive="active" routerLink="/if">ngIf</button>
<button routerLinkActive="active" routerLink="/switch">ngSwitch</button>
<button routerLinkActive="active" routerLink="/for">ngFor</button>
<button routerLinkActive="active" routerLink="/class">ngClass</button>
<button routerLinkActive="active" routerLink="/style">ngStyle</button>
<button routerLinkActive="active" routerLink="/model">ngModel</button>
<button routerLinkActive="active" routerLink="/custom">Custom Directive</button>
<router-outlet></router-outlet>



